body {
    font-size: 16px; /*px significa "pixels"
    font-size é o tamanho da fonte base que agora é 16 pixels*/
    font-family: Arial, Helvetica, sans-serif; /* este é o nome da fonte*/
}
h1 {
    text-align: center;
}
p {
    color:white;
    background-color: black;
    margin-top: -10px;
}

.negrito {
    font-weight: bolder;
    color:aqua;
}